//COLORES
$color-hover-thumbnail: rgba(114, 110, 110, 0.3);
$color-info-footer: rgb(58, 57, 57);
$amarillo: rgba(243, 156, 18);
//TIPOGRAFIAS
$textoInformativo: font;
$textoPageRiders: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//OTRAS

